[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pygments = "*"
pytest-httpbin = "*"
pytest = "*"
mock = "*"
pyyaml = "*"
gitpython = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "2.7"
